[user]
	name = Mohammad Javad Ghasemy 
	email = geeksesi@gmail.com
	signingkey = /home/geeksesi/.ssh/id_rsa.pub
[gui]
	encoding = UTF-8
[credential]
	helper = cache
[core]
	editor = vim
[pull]
	rebase = false
[commit]
	gpgsign = true
[gpg]
	format = ssh

[includeIf "gitdir:/home/geeksesi/public_html/Tribes/"]
	path = ~/.gitconfig-tribes
[includeIf "gitdir:/home/geeksesi/public_html/Am/"]
	path = ~/.gitconfig-am
