*
!.gitignore
!.config/
!.config/zellij/
!.config/opencode/
!.config/opencode/**
.config/opencode/node_modules/
.config/opencode/package.json
.config/opencode/package-lock.json
.config/opencode/bun.lock
